---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h2>Socials</h2>
    <p><a href="https://www.linkedin.com/in/emilycogsdill/">LinkedIn</a>
    <p><a href="https://github.com/emily-flambe">GitHub</a>
    <p><a href="https://www.instagram.com/emily_flambe">Instagram</a> <sub style="font-size: 0.6em;"> ...if you must</sub></p>
    <h2>What is Baba?</h2>
    <p>Baba <img src="/assets/baba/BABA_char.webp" alt="baba"> is the titular character in the hit indie game <a href="https://hempuli.com/baba/" target="_blank" class="link-text"><em>Baba Is You</em></a>.
    <p>I did not create Baba. Baba is not a bunny rabbit. Baba is neither male nor female. Don't you understand? <img src="/assets/baba/baba.webp"> <img src="/assets/baba/is.webp"> <img src="/assets/baba/you.webp">.</p>
    <h2>Why did you make a blog about Baba?</h2>
    <p>Baba solves puzzles, and at the same time, Baba <em>is</em> puzzles. I find that relatable.</p>
    <p>Also, this blog is not really <em>about</em> Baba....
    <h2>What <em>is</em> this blog about, then?</h2>
    <p>Places I have gone? Things I have done? Thoughts I have had?</p>
    <img src="/assets/baba_bike.jpeg" alt="baba" style="width: 400px;">
    <h2>Who are you?</h2>
    <p>I am <strong>Emily</strong>, which is <img src="/assets/baba/me.webp">. Unlike Baba, I am not <img src="/assets/baba/you.webp">.
    <p>You can learn about the broad strokes of my career on <a href="https://www.linkedin.com/in/emilycogsdill/" target="_blank" class="link-text">LinkedIn</a>.
    <p>For everything else, there's this blog?
    <h2>You're not even gonna try to write a bio, huh?</h2>
    <p>What is this, a <em>dating profile</em>? Oh, brother!
    <p>I was born into an upper-middle-class white family in Michigan. We moved around frequently enough that 
    I have no strong regional identity. See, this is boring!
    <p>Through some logical contortions, I convinced myself that if I was good enough at school, boys would like me.
    So I kept being good at school until I got a Ph.D. in Psychology at Harvard. My path has had pros and cons, and I would not say it was the most efficient way to get boys to like me (or employers, for that matter). But here we are.
    <p>After my stint in academia, I have had a variety of jobs. I have been a:
    <ul>
      <li>User Researcher (<a href="https://www.myfitnesspal.com/" target="_blank" class="link-text">MyFitnessPal</a>)</li>
      <li>Product Analyst (<a href="https://www.myfitnesspal.com/" target="_blank" class="link-text">MyFitnessPal</a>/<a href="https://www.underarmour.com/" target="_blank" class="link-text">Under Armour</a>)</li>
      <li>Business Insights Analyst (<a href="https://www.vrbo.com/" target="_blank" class="link-text">Vrbo</a>/<a href="https://www.expedia.com/" target="_blank" class="link-text">Expedia</a>)</li>
      <li>Data Engineer (<a href="https://joebiden.com/" target="_blank" class="link-text">Biden for President</a>)</li>
      <li>Data Engineer (<a href="https://www.myfitnesspal.com/" target="_blank" class="link-text">MyFitnessPal</a>, again)</li>
      <li>Software Engineer (<a href="https://communitytechalliance.org/" target="_blank" class="link-text">Community Tech Alliance</a>)</li>
      <li>Engineering Manager (<a href="https://communitytechalliance.org/" target="_blank" class="link-text">Community Tech Alliance</a>)</li>
    </ul>
    <p>Other fun ways I have generated income over the years, intentionally devoid of context:
    <ul>
      <li>Ethnomusicology Research Assistant</li>
      <li>Chapel Chimes Player?</li>
      <li>Choir Singer</li>
      <li>Twitch Streamer</li>
      <li>Database Coordinator for a private K-12 school</li>
      <li>McDonald's Crew Member</li>
      <li>Gap, Inc. Sales Associate</li>
    </ul>
    <p>As I write this, I live in Boulder, Colorado, with two cats. I moved here in 2024. Prior to that, we lived lots of places?
    <p><img src="/assets/cats.jpeg" alt="cats" class="about-image"><img src="/assets/boulder.jpeg" class="about-image"><img src="public/assets/baba_sanitas.jpg" class="about-image">
    <p>Boulder is cute! It has mountains, and there is a guy on Pearl Street who knows every zip code. I take pottery classes, I sing in a local choir,
    and I do stereotypical Colorado things like running (on <em>purpose</em>), hiking, cycling, and skiing.
    </ul>
  </div>
</BaseLayout>

<style>
  .about-image {
    display: inline-block;
    margin: 0 1em 1em 0;
    max-width: 235px;
    vertical-align: middle;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  .small-text {
    font-size: 0.8em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
