---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About... stuff</h1>
    <h2>What is Baba?</h2>
    <p>Baba is the titular character in the hit indie game <a href="https://hempuli.com/baba/" target="_blank" class="link-text"><em>Baba Is You</em></a>.
    I did not create Baba. Baba is not a bunny rabbit. Baba is neither male nor female. Don't you understand? Baba is <strong>you</strong>.</p>
    <h2>Why did you make a blog about Baba?</h2>
    <p>Baba solves puzzles, and at the same time, Baba <em>is</em> puzzles. I find that relatable.</p>
    <p>And, I mean, this blog is not really <em>about</em> Baba....
    <h2>What <em>is</em> this blog about, then?</h2>
    <p>Places I have gone? Things I have done? Thoughts I have had?</p>
    <p>Whatever I <strong>want</strong> it to be about, GOSH.</p>
    <h2>Who are you?</h2>
    <p>I am <strong>Emily</strong>. Unlike Baba, I am not <strong>you</strong>.
    <p>You can learn about the broad strokes of my career on <a href="https://www.linkedin.com/in/emilycogsdill/" target="_blank" class="link-text">LinkedIn</a>.
    <p>For everything else... well, there's this blog, I guess?
    <h2>You're not even gonna try to write a bio, huh?</h2>
    <p>What is this, a <em>dating profile</em>? Oh, brother!
    <p>I was born into an upper-middle-class white family in Michigan. We moved around frequently enough that 
    I have no strong regional identity. I liked moving because it meant I had a new chance to try to make friends, but I didn't really start to make friends until I started chatting with people on the <em>world wide web</em>. We wrote terrible fanfiction about Final Fantasy 10.
    <p>The fanfiction is still out there. I have looked.
    <p>Through some logical contortions, I convinced myself that if I was good enough at school, boys would like me.
    I kept being good at school until I got a Ph.D. in Psychology at Harvard. (There is an <em>awful</em> lot to unpack there.)
    <p>My post-academia career has gone through an unusual (yet also sensible?) progression of job titles:
    <ul>
      <li>User Researcher (<a href="https://www.myfitnesspal.com/" target="_blank" class="link-text">MyFitnessPal</a>)</li>
      <li>Product Analyst (<a href="https://www.myfitnesspal.com/" target="_blank" class="link-text">MyFitnessPal</a>/<a href="https://www.underarmour.com/" target="_blank" class="link-text">Under Armour</a>)</li>
      <li>Business Insights Analyst (<a href="https://www.vrbo.com/" target="_blank" class="link-text">Vrbo</a>/<a href="https://www.expedia.com/" target="_blank" class="link-text">Expedia</a>)</li>
      <li>Data Engineer (<a href="https://joebiden.com/" target="_blank" class="link-text">Biden for President</a>)</li>
      <li>Data Engineer (<a href="https://www.myfitnesspal.com/" target="_blank" class="link-text">MyFitnessPal</a>, again)</li>
      <li>Software Engineer (<a href="https://communitytechalliance.org/" target="_blank" class="link-text">Community Tech Alliance</a>)</li>
      <li>Engineering Manager (<a href="https://communitytechalliance.org/" target="_blank" class="link-text">Community Tech Alliance</a>)</li>
    </ul>
    <p>As I write this, I live in Boulder, Colorado, with two cats. I moved here in 2024. Prior to that, we lived, uh, lots of places.
    <p>Why do I live in Boulder? It is cute! There are mountains, and there is a guy on Pearl Street who knows every zip code. I take pottery classes, I sing in a local choir,
    and I do stereotypical Colorado things like running (on <em>purpose</em>), hiking, cycling, and skiing.
    <p>Who 👏 knows 👏 what 👏 I'll 👏 do 👏 next?
    </ul>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  .small-text {
    font-size: 0.8em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
