---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'My Astro Blog';
const description = 'The perfect starter for your perfect blog.';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <h1>Baba is Blog</h1>
      <p>LOVE is WEAK.
      <br />LOVE has KEY.
      <br />KEY is OPEN.
      <br />DOOR is SHUT.
      <br />FLAG is WIN.
      <br />BABA is MOVE.
      <br />BABA is WIN.
    </div>

    <div class="hero-image-container">
      <picture>
        <source srcset="/assets/best-friends.jpeg" media="(min-width: 700px)">
        <img class="hero-image" alt="Best friends" src="/assets/best-friends.jpeg" width="550" height="466">
      </picture>
      <p class="caption">
        *~*~*~Best friends~*~*~*
      </p>
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: .8em;
    font-style: italic;
    text-align: center;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 0em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 500px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
</style>
