---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'My Astro Blog';
const description = 'The perfect starter for your perfect blog.';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <br><img class="baba-img" src="../assets/baba/BABA_char.webp" style="margin-right: 400px;"> <img class="baba-img" src="../assets/baba/flag_object.webp">
      <p>
      <p>
        <img class="baba-img" src="../assets/baba/love.webp" style="margin-left: 30px;"> <img class="baba-img" src="../assets/baba/is.webp"> <img class="baba-img" src="../assets/baba/weak.webp">
        <br /><img class="baba-img" src="../assets/baba/love.webp" style="margin-left: 80px;"> <img class="baba-img" src="../assets/baba/has.webp"> <img class="baba-img" src="../assets/baba/key.webp">
        <br /><img class="baba-img" src="../assets/baba/key.webp" style="margin-left: 130px;"> <img class="baba-img" src="../assets/baba/is.webp"> <img class="baba-img" src="../assets/baba/open.webp">
        <br /><img class="baba-img" src="../assets/baba/door.webp" style="margin-left: 180px;"> <img class="baba-img" src="../assets/baba/is.webp"> <img class="baba-img" src="../assets/baba/shut.webp">
        <br /><img class="baba-img" src="../assets/baba/flag.webp" style="margin-left: 230px;"> <img class="baba-img" src="../assets/baba/is.webp"> <img class="baba-img" src="../assets/baba/win.webp">
        <br /><img class="baba-img" src="../assets/baba/baba.webp" style="margin-left: 280px;"> <img class="baba-img" src="../assets/baba/is.webp"> <img class="baba-img" src="../assets/baba/move.webp">
        <br /><img class="baba-img" src="../assets/baba/baba.webp" style="margin-left: 330px;"> <img class="baba-img" src="../assets/baba/is.webp"> <img class="baba-img" src="../assets/baba/win.webp">
      </p>
      <p>
      <img class="baba-img" src="../assets/baba/BABA_char.webp" style="margin-left: 400px;"> <img class="baba-img" src="../assets/baba/flag_object.webp">
      </p>
      <p style="margin-left: 175px;">This is a <a href="/blog">blog</a>.</p>
    </div>

    <div class="hero-image-container">
      <picture>
        <source srcset="/assets/best-friends.jpeg" media="(min-width: 700px)">
        <img class="hero-image" alt="Best friends" src="/assets/best-friends.jpeg" width="550" height="466">
      </picture>
      <p class="caption">
        *~*~*~Best friends~*~*~*
      </p>
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: .8em;
    font-style: italic;
    text-align: center;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 0em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 500px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }

  .baba-img {
    width: 50px;
  }
</style>
