# Build output
dist/

# Dependencies
node_modules/

# Vite
*.local

# Logs
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Capacitor iOS (not used)
ios/
*.keystore
