<div>
  <img src="/assets/profile-pic.png" alt="The Authoress">
  <p>
    Hi, I'm <strong>Emily</strong>. I'm a software engineer just trying to have a good time. GOD FORBID.
    Check out my work on <a href="https://www.github.com/emily-flambe" target="_blank">GitHub</a>.
    Follow me on <a href="https://www.linkedin.com/in/emily-flambe" target="_blank">LinkedIn</a>.
    Or <a href="https://www.instagram.com/emily_flambe" target="_blank">Instagram</a>.
    I have also been known to stream on <a href="https://www.twitch.tv/emilyFlambe" target="_blank">Twitch</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
